.cartItems {
  margin: 100px 170px;
}

.cartItems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cartitems_format_main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cartItems_format {
  font-size: 15px;
  font-weight: 500;
}

.cartIcon_product_icon {
  height: 70px;
  width: 70px;
}

.carticon_remove_icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0 40px;
}

.cartItems_quantity {
  width: 60px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}

.cartItems_down {
  display: flex;
  margin: 100px 0;
}

.cartItems_total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 30px;
}

.cartItems_total_item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.cartItems_total button {
  width: 250px;
  height: 55px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.cartItems_promocode {
  flex: 1;
  font-size: 15px;
  font-weight: 500;
}

.cartItems_promocode p {
  color: #555;
}

.cartItems_promobox {
  width: 500px;
  margin-top: 15px;

  height: 50px;
  background: #eaeaea;
}

.cartItems_promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  width: 330px;
  height: 50px;
  padding-left: 20px;
  padding-right: 10px;
}

.cartItems_promobox button {
  width: 170px;
  height: 50px;
  font-size: 15px;
  background: black;
  color: white;
  cursor: pointer;
}
